<body class="container">
  <div class="container-page text-center">
    <h1>Chat page</h1>
    <h2>Current chatroom is set to:</h2>
    <h3>{{room}}</h3>
    <div class="row">
      <button
        *ngIf="room=='GLOBAL'"
        class="btn btn-warning mt-4"
        (click)="joinFactionChat()"
      >
        Join Faction Chat
      </button>
      <button
        *ngIf="room!='GLOBAL'"
        class="btn btn-warning mt-4"
        (click)="joinGlobalChat()"
      >
        Join Global Chat
      </button>
    </div>
    <div class="container chatcontainer mb-1 mt-1">
      <div class="row-1">
        <div class="col chatbox" *ngFor="let message of messageList">
          <li>{{message}}</li>
        </div>
      </div>
    </div>
    <div class="row">
      <input
        class="col mt-1 mb-0 ml-4"
        [(ngModel)]="newMessage"
        (keyup)="$event.keyCode == 13 && sendMessage()"
      />
      <button
        class="btn btn-warning col mt-1 mb-0 mr-4"
        (click)="sendMessage()"
      >
        Send Message
      </button>
    </div>
  </div>
</body>
