input {
  text-align: start;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  margin-right: auto;
  background-color: #c49f6d;
  border-color: #ffc701;
}
.chatbox {
  text-align: start;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  margin-right: auto;
  background-color: transparent;
  font-weight: bold;
  border-color: transparent;
  color:black;

}
li {
  list-style-type: none;
}
.chatcontainer {
  background-color: #e8dcb8;
  border-color: #ffc701;
  border-radius: 0.25rem !important;
  background-image: url("../../../assets/pages/oldpaper.png");
}
h3{
  color:#ffc701;

}