#map {
    /* position: absolute;  */
    border: #dcb535;
    border-width: 1rem;
    border-radius: 1%;
    height: 60vh;
    width: 80vh;
    margin: auto;
  }

.input-component { 
    /* position:relative; */
    text-align: start;
    padding: .375rem .75rem;
    border-radius: .25rem;
    border: 1px solid transparent;
    margin-right: auto ;
    color: #fff;
    background-color:black;
    border-color: #dcb535;
  }

h1,h3,h2,h4 {
    margin-top: auto;
    color: rgb(243, 237, 237);
    outline-color:rgb(209, 194, 56);
    outline-width: 0.5rem;
    text-emphasis-color:black;
    
  }

  .container--fluid {
    background-color: transparent;
    border-color: transparent;
  
  }