<body class="container--fluid text-center">
    <h3>Please pick a Game Area for your game by droping a pin on a map and defining the radius around it.</h3>

    <div class="row">

        <div id="map">

    </div>
    </div>
    <!-- need to do some validation for input-->
    <br>
    <div class="container-sm mt-4 center">
        <form [formGroup]="setRadiusForm" (ngSubmit)="setRadius()">
            <label class="row center text-left" for="radius">
                <h4>Set Radius (Default 1000m):
                    <div *ngIf="radius!=1000 "> Your setting: {{this.radius}} meters</div>
                </h4>
            </label>
            <div class="row center mr-4 ml-4">
                <input class="col-8 input-component mb-1" id="radius" type="number" formControlName="radius"
                    placeholder="Enter Game radius in meters" />
                <button class="btn btn-outline-warning col-4 mb-1" type="submit">Set Radius</button>
            </div>
        </form>

    </div>

</body>