.banner {
    width: 100%;
    height: 120vh;
    background-image: url("../../../assets/pages/landing.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(90%);
  }
  
  h1,h2,h3,h3 { 
    padding: .25rem;
    color: white;
   
}
