<!-- We should have also how many players.-->

<body class="container container-sm text-center">
  <div class="banner">
    <div class="container-page">
      <h2>Welcome to Humans vs. Zombies live rollplaying game!</h2>

      <div class="row ml-5 mr-5">
        <!-- this button should be toggle and display gamerules: -->
        <button class="center btn btn-warning mt-5">Game rules</button>
      </div>
      <h3>
        Press on the game you like to join and create Player. Good luck staying
        alive!
      </h3>

      <app-login-button *ngIf="!(auth.isAuthenticated$ | async)"  ></app-login-button>

      <app-game-list
        [navigateOnClickUrl]="navURL"
        *ngIf="(auth.isAuthenticated$ | async)"
      ></app-game-list>
    </div>
  </div>
</body>
