<body>
  <div class="container-page">
    <h1>Join a Squad.</h1>
    <div *ngIf="inSquad">
      <div>
        Players in your squad:
        <ul>
          <li>John</li>
        </ul>
        <button>Place a mission marker.</button>
        <button>Create a squad check-in.</button>

      </div>
    </div>
  </div>
</body>