
<body class="container container-sm center"> 
    <div class="container-page">
        <!--  

            <app-game-map></app-game-map>
            
        -->
        <app-create-mission></app-create-mission> 
            
        </div>

    
</body>