input { 
    text-align: start;
    padding: .375rem .75rem;
    border-radius: .25rem;
    border: 1px solid transparent;
    margin-right: auto ;
    color: #fff;
    background-color:black;
    border-color: #FFC107;/** #dcb535*/
}

.container {
    background-color: transparent;
    border-color: transparent;

}

h1, h2 ,h3, h4, label {
    margin-top: auto;
    color: rgb(243, 237, 237);
    outline-color:white;
    outline-width: 0.5rem;
    text-emphasis-color:black;
    
}

label{ 
    color: white;
    padding-top: 2%;
    text-align: left;

}