<body class="container container-sm text-center">
    <h2>Create new Squad</h2>
    <form [formGroup]="createSquadForm" (ngSubmit)="createSquad()">
        <div class="row center mr-4 ml-4">
            <label class="col-4 text-left mb-1" for="name"> Squad Name:</label>
            <input class="col-8 mb-1" id="name" type="text" formControlName="name" placeholder="Awesome Squad Name" />
        </div>
        <div class="row center mr-4 ml-4">
            <label class="col-4 text-left mb-1" for="description"> Description:</label>
            <input class="col-8 mb-1" id="description" type="text" formControlName="description" placeholder="What is your Awesome Squad about? " />
        </div>
        <div class="row">
            <button class="col btn btn-warning" type="submit" [disabled]="createSquadForm.invalid">Create Squad</button>
        </div>
        <div *ngIf="isSquadCreated">Squad successfully created</div>
    </form>
</body>