<header class="text-center">
  <h2>GAME {{gameID}}: {{ gameName }}</h2>
</header>

<body class="text-center">
  <h3>Please Pick Original Zombies:</h3>

  <form [formGroup]="form" (ngSubmit)="submitOZs()" novalidate>
    <div *ngFor="let player of playerNames ; let i = index" [attr.data-index]="i">
      <ul>
        <li class="align-left">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input checkbox" name="selectedPlayers" [value]="playerIDs[i]"
              (change)="onCheckboxChange($event)">
            {{ player }}
          
          </label>
        </li>
      </ul>
    </div>
    <p class="error" *ngIf="this.form.controls['checkArray'].errors?.required">
      Original Zombies are required, select atleast one of them.
    </p>
    <div *ngIf="this.form.valid">
    <button  class="btn btn-danger mb-4" type="submit" value="Start the game!">Start Game</button>
    </div>
  </form>
    <div *ngIf="this.form.invalid">
      <!-- <div *ngIf="this.form.untouched" > -->
      <h4>Ups! Semms like no one registered yet!</h4>
      <a type="button" class="btn btn-danger mb-4 mt-4" routerLink="/admin">Pick another Game</a>
    </div> 
  <!-- </div> -->

</body>