ul {
    list-style-type: none;
    columns: 2;
    -ms-grid-row-align: start;
    text-align: start;
}

.form-check-input:checked {
    background-color: #FFC701;
    border-color: white;
    
}

h1,h2,h3 { 
    padding: 1%;
    color: #ffc107;;
}
h5 {
    padding: 1%;
    color: white;
}

.banner {
    width: 100%;
    height: 120vh;
    background-image: url("../../../../assets/pages/admin.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(90%);
  }

ul {
    color: #ffc107;
}