<body class="container container-sm text-center banner">
  <div class="container-page">
    <h1>Hello Admin, here you can manage your Games!</h1>
    <h5>You can create a brand New game if you wish.</h5>
      <h5> You can start Registered games by picking OZs.</h5>
       <h5> You can create missions for games that are In Progress! </h5>
    <!-- <h5 >Actions, admins can edit:</h5>
    <ul>
      <li>Create mission.</li>
      <li>Squad List.</li>
      <li>Zombie List.</li>
      <li>Mission List.</li>
      <li>Player List.</li>
    </ul>-->
    <div class="row text-center">
      <button class="btn btn-warning col text-center mb-5 mt-5" (click)="startGameToggle()">Edit Game</button>
      <div *ngIf="startGame">
        <h5 class="mt-6">Pick a Game to Start/Edit by pressing on it</h5>
        <app-game-list [navigateOnClickUrl]="navURL"></app-game-list>
      </div> 
      <button class="btn btn-warning col text-center ml-5 mr-5 mb-5 mt-5" (click)="createGameToggle()">Create game</button>
      <div *ngIf="createGame">
        <app-create-game></app-create-game>
      </div>
      
    </div>
  </div>
</body>