<body class=" container container--fluid text-center">
    <h3>Please drop a pin on the map to set Location of the mission.</h3>

    <div class="row">
        <div id="map"></div>
    </div>

</body>
