#map {
    /* position: absolute;  */
    border: #dcb535;
    border-width: .5rem;
    height: 60vh;
    width: 80vh;
    margin: auto;
}

.container {
    padding: 1%;
    background-color: transparent;
    border-color: transparent;
  
}
  
h3 { 
    color: #ffc701;
}