.banner {
    width: 100%;
    height: 90vh;
    background-image: url("../../../assets/pages/human.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    filter: brightness(90%);
  }

  h1,h3 {
    margin-top: auto;
    color: rgb(243, 237, 237);
    outline-color:white;
    outline-width: 0.5rem;
    text-emphasis-color:black;
    
  }