<body class=" container container-sm text-center banner">
  <div class="container-page">
    <h1>You are Still Alive!</h1>
    <h3>You must avoid Zombies at all costs, it is much easier done if you group up with other living humans. You may
      join
      an existing squad, or create one of your own and be a leader! </h3>
    <!--this should redirect to a squad page, when we make one-->

    <!-- <button class="btn btn-warning">Get Your BiteCode</button> -->
      <div class="btn btn-danger">Your biteCode:  {{biteCode}}</div>
    

    <div *ngIf="squadId == 0" class="row text-center">
      <button class="btn btn-warning col text-center mt-5 mb-5" (click)="createSquadToggle()"> Create your Own Squad
      </button>
      <div *ngIf="createSquad">
        <app-create-squad></app-create-squad>
      </div>
      <button class="btn btn-warning col text-center mt-5 mb-5" (click)="joinSquadToggle()"> Join Existing Squad
      </button>
      <div *ngIf="joinSquad">
        <app-squad-list (onJoin)='onSquadJoin($event)'></app-squad-list>
      </div>
    </div>
  </div>
</body>