<!-- to do: 

</div>
<h1>Mission Markers</h1>
<h1>View check in Markers</h1>
</div>

put in game name: 
-->


<div class="container container-sm text-center">
  <div class="container-page">

    <h1>Current game Area</h1>
    <div class="map-container">
      <div class="map-frame">
        <div id="map"></div>

      </div>
    </div>
