.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #dc3545!important;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}