<nav class="navbar flex">
    <!-- <span *ngIf="auth.user$ | async as user">
        {{ user.email }}
    </span> -->

    <!-- Some routes are only avaible to players who are registered in a game. PlayerID not 0.-->
    <a class="nav-link" *ngIf="playerId==0" routerLink="/" routerLinkActive="active">Home</a>
    <a class="nav-link" *ngIf="playerId!=0" routerLink="/chat" routerLinkActive="active">Chat</a>
    <a class="nav-link" *ngIf="adminState" routerLink="/admin" routerLinkActive="active">Admin</a>
    <a class="nav-link" *ngIf="playerId!=0" routerLink="/map" routerLinkActive="active">Map</a>
        
    <!-- Zombiepage and humanpage differentiated based on isZombie variable, but also based on whether a player has registed.-->
        <a class="nav-link"  *ngIf="zombieState&&playerId!=0" routerLink="/zombie" routerLinkActive="active" >Zombie</a>
        <a class="nav-link" *ngIf="!zombieState&&playerId!=0" routerLink="/human" routerLinkActive="active">Human</a>

    
        <!-- <a class="nav-link" routerLink="/user" routerLinkActive="active">User</a> 
        
        thsee navbars are for developement: 
        <a class="nav-link" routerLink="/squad" routerLinkActive="active">Squad</a> 
        -->

    <app-login-button *ngIf="(auth.isAuthenticated$ | async) === false"></app-login-button>
    <app-logout-button *ngIf="(auth.isAuthenticated$ | async)"></app-logout-button>
</nav>