<div id="map"></div>

<div>
  <div>
    <form [formGroup]="setRadiusForm" (ngSubmit)="setRadius()">
      <label for="radius"> Radius (default 2000) </label>
      <input id="radius" type="text" formControlName="radius" placeholder="Enter the game radius" />
      <button type="submit">Set Radius</button>
    </form>
  </div>
  <div class="container container-sm text-center">
    <form [formGroup]="creategameform" (ngSubmit)="createGame()">
      <div class="col">
        <div class="row">
          <label class="text-left" for="name"> Name </label>
          <input id="name" type="text" formControlName="name" placeholder="Awesome Game" />
        </div>
        <div class="row" class="text-right">
          <label for="startingDate"> Starting x days from now: </label>
          <input id="startingDate" type="number" formControlName="startingDate" placeholder="Select startingDate" />
          <label for="duration"> Duration </label>
          <input id="duration" type="number" formControlName="ends" placeholder="Select duration" />

          <label for="description"> Description </label>
          <input id="description" type="text" formControlName="description" placeholder="Enter the game description" />
        </div>

        <div class="row">
          <button class="btn btn-primary" type="submit">Create game</button>
        </div>
        {{ booleanGameCreated }}
        <div *ngIf="booleanGameCreated">Game successfully created</div>
      </div>
    </form>
  </div>
</div>