ul {
    list-style-type: none;
    columns: 1;
    grid-row-start: 1;
    -ms-grid-row-align: start;
    text-align: start;
    color: white;;
    border: 0cm;
    border-style: ridge;
    border-color: #dc3545;
    /*box-shadow: 10%;*/
    text-emphasis-style:calc();
    background-color:transparent;/*rgba(255, 193, 7, 0.3);/*rgba(220, 53, 69, 0.2) ;*/ 
    box-shadow: 10in solid transparent;
    border: 0px solid transparent;

    

}
.container {
    padding: 2rem ;
    background-color: transparent;
    text-shadow: 5px;
    box-shadow: 100px;
    border-color: transparent;
}

h1,h2,h3,h4 { 
    padding: .25rem;
    color: white;
   
}
h6{
    color: #ffc107;
    margin-left: 1cm;
}
