<!-- We should have also how many players.-->

<body class="container container-sm">
  <ul *ngFor="let game of gameList; let i = index" [attr.data-index]="i" >
    <div class="some-class">
      <div class="row">
        <div class="col-8">
          <li>{{ game }}</li>
          <li>
            <h6>{{ gameStates[i]}}</h6>
          </li>
        </div>
        <div class="col-4">
          <li>
            <button class="btn btn-danger "(click)="handleGameClicked(i)"> {{ this.buttonName }} </button>
          </li>
        </div>
      </div>

    </div>
  </ul>
</body>