<!-- We should have also how many players.-->
<body class="container container-sm">
  <ul
    *ngFor="let squad of squadMembersDTOList; let i = index"
    [attr.data-index]="i"
  >
    <li>
      <b>Squad Id:</b> {{ squad.squadId }}
      <p><b>Still Alive:</b> {{ squad.squadAlivePlayers }}</p>
      <p><b>Zombies:</b> {{ squad.squadDeadPlayers }}</p>
      <div class="row">
        <button (click)="joinSquad(squad.squadId)" class="btn btn-danger mb-4 col-5">
          Join!
        </button>
      </div>
    </li>
  </ul>
</body>
