ul {
    list-style-type: none;
    columns: 2;
    grid-row-start: 1;
    -ms-grid-row-align: start;
    text-align: start;
    color: white;;
    border: 1in;

}
.container {
    padding: 1rem ;
    background-color: transparent;
    text-shadow: 5px;
    box-shadow: 100px;
    border-color: transparent;
}

h1,h2,h3,h4 { 
    padding: .25rem;
    color: white;
   
}
h6{
    color: #ffc107;
    margin-left: 1cm;
}
