input { 
    text-align: start;
    padding: .375rem .75rem;
    border-radius: .25rem;
    border: 1px solid transparent;
    margin-right: auto ;
    color: #fff;
    background-color:black;
    border-color: #dcb535;
}