<body class="container container-sm text-center">
    <h1>To join Zombies vs. Humans game:</h1>
    <h2>{{ gameNameToJoin }} </h2>
    <h2>Create a Player</h2> 

    <div *ngIf="gameNameToJoin !== null">
    <form [formGroup]="createPlayerForm" (ngSubmit)="createPlayer()">
        <div class="row center mr-4 ml-4">
            <input class="col-8 mb-1"
            id="name"
            type="text"
            formControlName="name"
            placeholder="Your Awesome Player Nickname"
          />
          <button class="col-4 btn btn-warning mb-1" type="submit" [disabled]="createPlayerForm.invalid">Create Player</button>
        </div>
        </form>
    </div>

        <div *ngIf="booleanPlayerCreated">Player successfully created</div>
        <div *ngIf="gameNameToJoin == null"> You need to pick a game </div>




        <!--  <div class="row" class="text-right">
          <label for="isHuman"> Human </label>
          <input
            id="isHuman"
            type="radio"
            formControlName="isHuman"
            value="true"
          />
          <label for="isHuman"> Zombie </label>
          <input
            id="isHuman"
            type="radio"
            formControlName="isHuman"
            value="false"
          />
        </div> -->
  
        <!--
          Should be automatic. 
        -->
        
  
