input { 
    text-align: start;
    padding: .375rem .75rem;
    border-radius: .25rem;
    border: 1px solid transparent;
    margin-right: auto ;
    color: #fff;
    background-color:black;
    border-color: #FFC107;/** #dcb535*/
}
label{ 
    color:#FFC107;
    padding-top: 2%;
    text-align: left;

}
h2{
    color: #FFC107;
}