<body class="container container-sm text-center">
  <div class="container-page">
    <h2>Create a mission for all the Humans</h2>
    <form [formGroup]="createMissionForm" (ngSubmit)="onSubmitCreateMission()">
      
      <div class="row center mr-4 ml-4">
        <label class="col-4 text-left" for="name"> Mission name: </label>
        <input class="col-8 mb-1" id="name" type="text" formControlName="name" placeholder="Enter the mission name" />
      </div>
      
      <div class="row text-right">
        <label class="col-4 text-left" for="description"> Description: </label>
        <input class="col-8 mb-1" id="description" type="text" formControlName="description" placeholder="Enter the mission description" />
      </div>
      
      <div class="row text-right">
        <label class="col-4 text-left" for="duration"> Duration: </label>
        <input  class="col-8 mb-1" id="duration" type="number" min="1" formControlName="duration" placeholder="Select duration" />
      </div>
      
      <app-mission-map (sendMissionArea)="getMissionArea($event)"></app-mission-map>
      
      <div class="row">
        <button class="btn btn-warning col" type="submit" [disabled]="createMissionForm.invalid">Create mission</button>
      </div>

      <div *ngIf="isMissionCreated">Mission successfully created</div>
    </form>
  </div>
  </body>
