<app-game-area (submitEvent)="getGameArea($event)"></app-game-area>
<div class="container container-sm text-center">

    <form [formGroup]="createGameForm" (ngSubmit)="onSubmit()">

        <div class="row center mr-4 ml-4">
          <label class="col-4 text-left" for="name"> Game Title: </label>
          <input class="col-8 mb-1" id="name" type="text" formControlName="name" placeholder="Awesome Game" />
        </div>
        <div class="row">
          <label class="col-4 text-left" for="startingDate"> Starts in: </label>
          <input class="col-8 mb-1" id="startingDate" type="number" min="0" formControlName="startingDate" placeholder="Days from today" />
        </div>
        <div class="row text-right">
          <label class="col-4 text-left" for="duration"> Duration: </label>
          <input  class="col-8 mb-1" id="duration" type="number" min="1" formControlName="duration" placeholder="How many days? " />
        </div>
        <div class="row text-right">
          <label class="col-4 text-left" for="description"> Description: </label>
          <input class="col-8 mb-1" id="description" type="text" formControlName="description" placeholder="Enter the game description" />
        </div>

        <div class="row">
          <button class="btn btn-warning col" type="submit" [disabled]="createGameForm.invalid">Create game</button>
        </div>
        
        <div *ngIf="!isGameCreated">Smth Went Wrong! Try Again!</div>
      
    </form>
  </div>