<body class="banner text-center">
  <div class="container-page">

    <h1>You are a Zombie!</h1>
    <h3>Time to Eat some Humans</h3>
    <h3>
      after biting a human you must retriew a bite code from them, they then
      will join the Zombie Side!
    </h3>
  </div>
  <div class="bitcode">
    <h4>Frisk a human you just Zombified and find his bite code.</h4>
    <form [formGroup]="sendBiteCodeForm" (ngSubmit)="sendBiteCode()" novalidate>

      <label for id="biteCode"></label>

      <input type="text" id="biteCode" formControlName="biteCode" placeholder="bite code" class="bite-code-input" />
      <button type="submit" class="btn btn-danger">Send Bite Code</button>
    
    </form>
    <div class="container-page">
      <h2>

        here are your kills so far... nam nam nam...
        <app-kills-list [change]="change"></app-kills-list>
      </h2>
    </div>
  </div>

</body>