
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.banner {
    width: 100%;
    height: 90vh;
    background-image: url("../../../assets/pages/zombie.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(90%);
  }

.bite-code-input { 
  text-align: left;
  padding: .375rem .75rem;
  border-radius: .25rem;
  border: 1px solid transparent;
  margin-right: 0.25rem;
  color: #fff;
  background-color:black;
  border-color: #dc3545;
}

 
h1,h3 {
  font-family: 'Special Elite', cursive;
  color:#fff ;

  outline-color:black;
  outline-width: 1rem;
  text-emphasis-color:black;
  
}
h2,h4 {
  color: #ffc107;
}