
<!-- We should have also how many players.-->
<body class="container container-sm">
    <ul
      *ngFor="let kill of killNames; let i = index"
      [attr.data-index]="i"
    >
      <li>You killed {{ kill }} at Latitude/Longtitude {{killLocations[i]}} </li>   
    </ul>
  </body>
  