/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Special+Elite&display=swap');
body {
  background: rgb(0, 0, 0);
  text-shadow: 100pt;
  color:#dc3545;
  font-family: 'Special Elite', cursive;
  border: 1px solid black;
}
.btn {
  margin-top: auto;
  margin-bottom: 0.25rem;
}

h3 { 
  margin-top: 1rem;
}

ul {
  list-style-type: none;
  columns: 2;
  -ms-grid-row-align: start;
  text-align: start;
}

.container-page{
  padding: 7%;
}

.container {
  padding: 0%;
  background-color: transparent;
  border-color: transparent;

}

#map {
  /* position: absolute;  */
  border: #ffc107;
  border-width: 1rem;
  border-radius: 1%;
  height: 60vh;
  width: 80vh;
  margin: auto;
}

.btn-warning {
  color: #000;
  background-color: #ffc107;
  border-color: #dc3545;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color:#ffc107;
}
